.top-profile .kicker {
  width: 100%;
  background: lightgrey;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 13px;
  padding: 1px;
  background: linear-gradient(45deg, #a51ac2, #ff8d00);
}

.top-profile .preload-ad-image {
  max-width: 100%;
}

.top-profile a {
  text-decoration: none;
}

.top-profile {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  @media #{$medium-up} {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
}

.preview .company-information {
  display: flex;
  position: absolute;
  top: -40px;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  @media #{$medium-up} {
    top: -26px;
  }
  figure {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    width: 50px;
    height: auto;
    img {
      width: 100%;
      position: relative;
    }
  }
  span {
    text-shadow: 0px 0px 6px black;
    color: white;
  }
}

.byline-listing {
  .premium {
    clear: both;
    position: relative;
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    .ad-company-logo {
      top: 44px;
    }
    .ad-text,
    .cities {
      padding-left: 70px;
    }
    h6 {
      font-size: 14px;
      opacity: 0.7;
    }
    h4 {
      text-transform: uppercase;
      font-size: 11px;
      opacity: 0.7;
    }
    .cities {
      span {
        text-transform: uppercase;
        font-size: 10px;
        background-color: black;
        padding: 4px;
      }
    }
  }
}
