.top-profile .kicker {
    width: 100%;
    background: lightgrey;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
    padding: 1px;
    background: linear-gradient(45deg, #a51ac2, #ff8d00);
}

.top-profile .preload-ad-image {
    max-width: 100%;
}

.top-profile a {
    text-decoration: none;
}


.top-profile {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    @media #{$medium-up} {
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
    }
}