twitterwidget {
  margin: 0 auto;
}

iframe.fb_ltr {
  background-color: $body-bg;
}

code.hljs {
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background: $body-bg;
  padding: 1em;
  td {
    padding: 1px;
  }
  .hljs-ln-numbers {
    padding-right: 14px;
  }
}

.article-entity {
  a {
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active {
      color: inherit;
    }
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, #c431e3, #c431e3);
    background-position: 0px 22px;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    overflow: visible;
    padding-bottom: 6px;
  }
  h2 a {
    background-position: 0px 33px;
  }
}

.body-copy > div {
  margin-bottom: 20px;
}

.body-copy .preview {
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(45deg, darken($color-pink, 20%), #492792);
  h1 {
    padding: 20px;
    margin-bottom: 0;
  }
  .standfirst {
    padding: 0 20px 20px 20px;
    margin-top: -10px;
  }
}

.facebook-comments .columns {
  float: none;
}

a.job-ad-cta {
  display: inline-block;
  text-align: center;
  border: 0;
  background: linear-gradient(90deg, #7e31e3, #c431e3);
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7e31e3, #c431e3);
    filter: blur(14px);
  }
  span {
    position: relative;
  }
}

.body-copy .columns {
  padding-left: 0;
  padding-right: 0;
}

article.preview .label:last-of-type {
  margin-left: 20px;
  margin-bottom: 20px;
}
