twitterwidget {
  margin: 0 auto;
}

iframe.fb_ltr {
  background-color: $body-bg;
}

code.hljs {
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background: $body-bg;
  padding: 1em;
  td {
    padding: 1px;
  }
  .hljs-ln-numbers {
    padding-right: 14px;
  }
}

p {
  a {
    text-decoration: none;
    cursor:pointer;
    &:hover,
    &:active {
      color: inherit;
    }
    background-image: linear-gradient(90deg, $color-purple, $color-purple-darker);
    background-position: 0px 20px;
    background-repeat: repeat-x;
    background-size: 100% 4px;
    overflow: visible;
    padding-bottom: 6px;
  }
}