
.byline {
  &.big {
    .byline {
      margin-bottom: 0;
    }
    display: flex;
    align-items: stretch;
    img {
      width: auto !important;
      height: 70px;
      margin-right: $column-gutter/2;
    }
    .byline-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;
    }
  }
}