$dark-color: #333;
#lab-modalContainer {
  color: $dark-color;
  .section-title {
    color: $dark-color;
  }
  label {
    color: $dark-color;
  }
}

.full-bleed {
  .labFn-empty-placeholder {
    min-height: 500px;
    padding-top: 100px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}