main.frontpage .row:first-child {
  height: 0;
}

main.frontpage .row:nth-child(1n+3) {
  padding-left: 10px;
  padding-right: 10px;
  @media #{$medium-up}{
    padding-left: 0;
    padding-right: 0;
  }
  article {
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    @media #{$medium-up}{
      margin-top: 0;
    }
  }
  
}


.frontpage .jobb {
  margin-top: 10px;
  margin-bottom: 10px;
  &:before {
    content: "Ledige stillinger";
    position: relative;
    background: linear-gradient(45deg, #a51ac2, #ff8d00);
    padding: 10px;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -0.9375rem;
    width: calc(100% + 30px);
  }
}


.frontpage .row .preview {
  margin-bottom: 10px;
}

.preview.large-6
.preview.large-7
.preview.large-5 {
  padding-right: 5px;
}

.preview.large-6 + .preview.large-6,
.preview.large-7 + .preview.large-5
.preview.large-5 + .preview.large-7 {
  padding-right: 0;
  padding-left: 5px;
}

.native-advertisement {
  margin-top: 10px;
  margin-bottom: 20px;
}
