main.frontpage .row:first-child {
  height: 0;
}

main.frontpage .row:nth-child(1n+3) {
  padding-left: 10px;
  padding-right: 10px;
  @media #{$medium-up}{
    padding-left: 0;
    padding-right: 0;
  }
  article {
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    @media #{$medium-up}{
      margin-top: 0;
    }
  }
  
}


.frontpage .jobb {
  margin-top: 10px;
  margin-bottom: 10px;
  
  .preview {
    background: transparent;
    h1 {
      padding: 0;
    }
  }
  &:before {
    content: "Ledige stillinger";
    position: relative;
    background: linear-gradient(45deg, #a51ac2, #ff8d00);
    padding: 10px;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -0.9375rem;
    width: calc(100% + 30px);
  }
}


main.frontpage .row .preview {
  &.native-advertisement {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media #{$medium-up}{
    margin-bottom: 10px;
    &.native-advertisement {
      margin-bottom: 20px;
    }
  }
}

article.preview.native-advertisement a {
  background: linear-gradient(45deg, #a51ac2, #ff8d00);
  padding: 0 10px 0 10px;
  
  @media #{$medium-up}{
    padding: 0 10px 10px 10px;
  }
  overflow: hidden;
  .kicker {
    background: transparent;
  }
  .article-preview-text:before {
    left: -0.6rem;
    width: calc(100% + 1.3rem);

    @media #{$medium-up}{
      left: -3.1rem;
      width: calc(100% + 6.2rem);
      bottom: 10px;
    }
  }
}

  


article.preview.large-6,
article.preview.large-7,
article.preview.large-5 {
  padding-right: 5px;
}

article.preview.large-6 + article.preview.large-6,
article.preview.large-7 + article.preview.large-5,
article.preview.large-5 + article.preview.large-7 {
  padding-right: 0;
  padding-left: 5px;
}

article.preview.medium-6,
article.preview.small-6 {
  padding-right: 5px;
}

article.preview.medium-6 + article.preview.medium-6,
article.preview.small-6 + article.preview.small-6 {
  padding-right: 0;
  padding-left: 5px;
}

.native-advertisement {
  margin-top: 10px;
  margin-bottom: 20px;
}

.front_rows.job-carousel {
  margin-left: -$column-gutter / 2;
  width: calc(100% + #{$column-gutter});
  &:before {
    display: none;
  }
  .preview {
    background: transparent;
    h1 {
      padding: 0;
    }
  }
}

 .row.job-carousel,
 .front_rows.job-carousel {
  position: relative;
  background: linear-gradient(90deg, #a51ac2, #ff8d00);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media #{$medium-up}{
    width: 1010px;
    float: left;
  }
  article.preview {
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none !important;
    &:hover {
      box-shadow: none !important;
      .figure {
        box-shadow: 0 1px 10px rgba(0,0,0,0.2);
      }
    }
  }
  article a {
    height: 300px;
    @media #{$medium-up} {
      height: 500px;
    }
  }
  article.native-advertisement a {
    background: transparent;
  }
  article.preview figure {
    padding-bottom: 0 !important;
    height: 100%;
    width: auto;
    overflow: hidden;
    img {
      width: 100%;
      min-height: 100%;
      @media #{$medium-up} {
        width: auto;
        height: 100%;
      }
    }
  }
  .kicker {
    display: none;
  }
  .slick-arrow {
    position: absolute;
    
    z-index: 60;
    background-color: red;
    /* padding: 17px; */
    margin: 0;
    font-size: 10px;
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #a51ac2, #643fb5);
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-2px);
    }
    &.slick-next {
      right: -38px;
      &::before {
        content: ">";
      }
    }
    &.slick-prev {
      left: -38px;
      &::before {
        content: "<";
      }
    }
  }
}

.row.job-carousel .slick-list:before,
.front_rows.job-carousel .slick-list:before {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
  content: "ledige stillinger";
  width: 100%;
  display: block;
}


.row.job-carousel.slick-initialized.slick-slider.slick-dotted:before,
.front_rows.job-carousel.slick-initialized.slick-slider.slick-dotted:before {
  
  @media #{$medium-up}{
    position: absolute;
    left: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, #1e1e1e, transparent);
    content: "";
    top: 0;
    z-index: 40;
    display: block;
    pointer-events: none;
  }
}

.row.job-carousel.slick-initialized.slick-slider.slick-dotted:after,
.front_rows.job-carousel.slick-initialized.slick-slider.slick-dotted:after {
  @media #{$medium-up}{
    position: absolute;
    right: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent,#1e1e1e);
    content: "";
    top: 0;
    z-index: 40;
    display: block;
    pointer-events: none;
  }
}

.labrador_mode {
  .front_rows {
    &.carousel {
      height: 40px;
      overflow: hidden;
      color: black;
      background-color: lightgrey;
      background: linear-gradient(90deg, #a51ac2, #ff8d00);
      &:before {
        display: block;
        content: "Jobbkarusell";
        text-transform: uppercase;
        padding: 10px;
      }
      span {
        background-color: transparent;
      }
    }
  }
}