.google-search {
  color: lighten($body-font-color, 20%);
  a,
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: lighten($body-font-color, 20%);
  }
  .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: $body-font-color;
  }
  .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: lighten($body-font-color, 20%);
    
    background-image: linear-gradient(90deg, #c431e3, #c431e3);
    background-position: 0px 22px;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    overflow: visible;
    padding-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .gsc-adBlock {
    display: none;
  }
  table {
    margin-bottom: 0;
    tbody {
      tr {
        background: 0;
        background-color: 0;
        border-top: 0;
        border-bottom: 0;
      }
    }
    
  }
  .gsc-control-cse,
  .gsc-control-cse .gsc-table-result {
    font-family: $body-font-family;
  }

  .gsc-result .gs-title {
    height: auto;
    font-size: 20px;
  }
  

  .gsc-control-cse,
  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult,
  .gsc-results .gsc-cursor-box .gsc-cursor-page,
  .gsc-webResult.gsc-result {
    background: 0;
    background-color: 0;
    border: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    &:hover {
      background: 0;
      background-color: 0;
      border: 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0
    }
  }


  .gsc-table-cell-thumbnail.gsc-thumbnail {
    border-right: 0;
  }

  .gsc-results {
    margin: 0;
    width: 100%;
  }
}