#top-navigation {
  position: relative;
  width: 100%;
  padding: 0 $column-gutter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  @media #{$medium-up}{
    height: 300px;
  }
  &.article {
    height: 60px;
    background-color: black;
    justify-content: flex-start;
    align-items: flex-start;
    
    #page-logo {
      line-height: 0;
      font-size: 0;
      margin-top: 10px;
      img {
        height: 40px;
        width: auto;
      }
      
    }
  }
  #page-logo {
    width: 100%;
    text-align: center;
    position: relative;
    img {
      max-width: 500px;
      width: 80%;
    }
  }
  .header-info {
    color: $body-font-color;
    text-transform: uppercase;
    a {
      color: $body-font-color;
      text-decoration: none;
      border-bottom: 4px solid #ff0071;
    }
  }
}


.main-footer {
  position: relative;
  width: 100%;
  padding: $column-gutter;
  
  background-size: cover;
  margin-bottom: 0;
  background-color: #000000;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$medium-up}  {
      flex-direction: row;
    }
  }

  #page-logo {
    width: 100%;
    text-align: center;
    img {
      max-width: 150px;
      width: 80%;
    }
  }
  .header-info {
    color: $body-font-color;
    text-transform: uppercase;
    a {
      color: $body-font-color;
      text-decoration: none;
      border-bottom: 4px solid #ff0071;
    }
  }
}