#top-navigation {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 0;
  height: 130px;
  @media #{$medium-up}{
    height: 300px;
  }
  &.article {
    height: 60px;
    
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    background-color: black;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #0000005c, #00000000);
      z-index: $z-index-1;
    }
    @media #{$medium-up}  {
      overflow: hidden;
    }
    #page-logo {
      line-height: 0;
      font-size: 0;
      margin-top: 10px;
      display: inline-block;
      width: auto;
      margin-right: $column-gutter;
      padding-left: $column-gutter;
      z-index: $z-index-2;
      img {
        height: 40px;
        width: auto;
      }
      
    }
  }
  #page-logo {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: $z-index-1;
    img {
      max-width: 500px;
      width: 80%;
    }
  }
  .header-info {
    color: $body-font-color;
    text-transform: uppercase;
    a {
      color: $body-font-color;
      text-decoration: none;
      border-bottom: 4px solid #ff0071;
    }
  }
}


.main-footer {
  position: relative;
  width: 100%;
  padding: $column-gutter;
  
  background-size: cover;
  margin-bottom: 0;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$medium-up}  {
      flex-direction: row;
    }
  }

  #page-logo {
    width: 100%;
    text-align: center;
    img {
      max-width: 150px;
      width: 80%;
    }
  }
  .header-info {
    color: $body-font-color;
    text-transform: uppercase;
    a {
      color: $body-font-color;
      text-decoration: none;
      border-bottom: 4px solid #ff0071;
    }
  }
}