#nav-top {
  #light-switch-toggler {
    padding: 10px;
  }
}
.light-switch {
  #light-switch-toggler-icons {
    border-radius: 20px;
    background: black;
    position: relative;
    width: 60px;
    height: 32px;
    display: block;
    .light-switch-toggler-icon {
      position: absolute;
      left: 7px;
      top: 3px;
      &#light-switch-toggler-icon-right {
        left: 30px;
      }
    }
  }
  #light-switch-toggler-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 32px;
    background-color: white;
    border-radius: 50px;
    outline: purple;
    transition: all 100ms ease-in-out;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }
}
body.light {
  #light-switch-toggler-slider {
    transform: translateX(28px);
  }
}
