body.light {
  background-color: #f1f1f1;
  
  &.animate {
    transition: all 0.1s ease-in-out;
  }
  
  main .article-entity {
    color: #333;
    a,h1,h2,h3,h4,h5,h6,blockquote, blockquote p {
      color: #333;
    }
    ::selection {
      background-color: $color-pink;
      color: $white;
    }
  }
  
}