h1,h2,h3,h4,h5,h6 {
  color: lighten($body-font-color, 20%);
  &.headline {
    color: lighten($body-font-color, 20%);
  }
}

aside.panel {
  h5 {
    color: lighten($body-font-color, 20%);
  }
  p {
    color: lighten($body-font-color, 10%);
  }
}

.frontpage,
.full-bleed {
  h1,h2,h3,h4,h5,h6,p,.standfirst {
    color: lighten($body-font-color, 20%);
    text-shadow: 0 0px 16px #171716e0;
    &.headline {
      color: lighten($body-font-color, 20%);
      text-shadow: 0 0px 16px #171716e0;
    }
  }  
}


body.light {
  background-color: #f1f1f1;
  color: #333;
  .frontpage,
  .full-bleed {
    h1,h2,h3,h4,h5,h6,p,.standfirst {
      color: lighten($body-font-color, 20%);
      text-shadow: 0 0px 16px #171716e0;
      &.headline {
        color: lighten($body-font-color, 20%);
        text-shadow: 0 0px 16px #171716e0;
      }
    }  
  }
  h1,h2,h3,h4,h5,h6, blockquote, blockquote p {
    color: darken( #333, 20%);
  
    &.headline {
      color: darken( #333, 20%);
    }
  }

  &.animate {
    transition: all 0.1s ease-in-out;
  }
  
  ::selection {
    background-color: $color-pink;
    color: $white;
  } 
  aside.panel {
    h5 {
      color: lighten($body-font-color, 20%);
    }
    p {
      color: lighten($body-font-color, 10%);
    }
  }
}