<div class="share">
    Del:
    <ul class="inline-list">
        <li><a href="#">E-post</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">g+</a></li>
    </ul>
</div>
