<div class="row">
    <div class="small-12 medium-12 large-8 columns">
        <div class="row">
            <div class="footer-news-list small-12 medium-12 large-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h5 class="section-title"><span>Mest lest på <span class="text-red no-padding">Din</span><span class="text-blue">side</span> </span></h5>
                    </div>
                    <article class="preview small-12 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/269/269931/26993179/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Politiet vil fengsle SOS Rasisme-leder i fire uker</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                    <article class="preview small-6 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/330/330162/33016275/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Her slår politiet til mot SOS Rasismes dumping i skogen</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                    <article class="preview small-6 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/232/232278/23227870/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">- Nå har jeg fått nok av SOS Rasisme og Tjen Folket</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                </div>
            </div>
            <div class="footer-news-list small-12 medium-12 large-12 columns end">
                <div class="row">
                    <div class="small-12 columns">
                        <h5 class="section-title"><span>Nye tester på <span class="text-red no-padding">Din</span><span class="text-blue">side</span> </span></h5>
                    </div>
                    <article class="preview small-12 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/269/269931/26993179/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Politiet vil fengsle SOS Rasisme-leder i fire uker</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                    <article class="preview small-6 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/330/330162/33016275/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Her slår politiet til mot SOS Rasismes dumping i skogen</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                    <article class="preview small-6 medium-4 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                        <a href="#" itemprop="url">
                            <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/232/232278/23227870/jpg/active/978x.jpg">
                            <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">- Nå har jeg fått nok av SOS Rasisme og Tjen Folket</h1>
                            <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-news-list small-12 medium-12 large-4 columns end">
        <div class="row">
            <div class="small-12 columns">
                <h5 class="section-title"><span>Siste saker</span></h5>
            </div>
            <ol class="article-list small-12 columns">
                <li><a>Hoppet som gjør konkurrentene rasende</a></li>
                <li><a>Da Louis Van Gaal fikk se formen til rekordkjøpet Luke Shaw, ble han forferdet</a></li>
                <li><a>Elsker nordmennene i «Hercules»</a></li>
                <li><a>Trøim slutter hos John Fredriksen</a></li>
                <li><a>«Petter kommer aldri til å få noen sympati fra meg»</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-12 large-8 columns">
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <h5 class="section-title"><span>Har du noe å tilføye?</h5>
                <p>
                Velkommen til Dinsides diskusjon. Vi vil gjerne vite hva du mener, men husk at mange leser det du skriver. Hold deg til temaet og vær saklig, så slipper vi å slette eller moderere innlegg. Debatten er stengt mellom 23 og 07, og stenger automatisk 7 dager etter publisering. <a href="http://www.dinside.no/870880/brukeravtale-for-dinside-no">Mer om vilkårene her.</a> Kommentarer til hvordan redaksjonen har løst saken på, tips om skrivefeil eller lignende sendes til <a href="mailto:tips@dinside.no">tips@dinside.no.</a>
                </p>
            </div>

            <div class="small-12 medium-12 large-11 bg-grey columns text-center end">
                <br>
                <br>
                Disqus kommentarfelt embed her
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="small-12 medium-12 large-4 columns comment-list end">
         <h5 class="section-title"><span>Mest kommentert</h5>
         <div class="row">
            <article class="preview small-12 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                <a href="#" itemprop="url">
                    <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/269/269931/26993179/jpg/active/978x.jpg">
                    <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Politiet vil fengsle SOS Rasisme-leder i fire uker</h1>
                    <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                    <span class="comments" data-comment-count="">90 innlegg</span>
                </a>
            </article>
            <article class="preview small-12 columns" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                <a href="#" itemprop="url">
                    <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/330/330162/33016275/jpg/active/978x.jpg">
                    <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">Her slår politiet til mot SOS Rasismes dumping i skogen</h1>
                    <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                    <span class="comments" data-comment-count="">80 innlegg</span>

                </a>
            </article>
            <article class="preview small-12 columns end" itemscope itemtype="http://schema.org/NewsArticle" role="article">
                <a href="#" itemprop="url">
                    <img itemprop="image" title="" alt="" src="http://gfx.dagbladet.no/labrador/232/232278/23227870/jpg/active/978x.jpg">
                    <h1 itemprop="headline" class="headline small-size-5 medium-size-5 large-size-5">- Nå har jeg fått nok av SOS Rasisme og Tjen Folket</h1>
                    <time itemprop="datePublished" class="published" datetime="1995-03-08" title="Publisert 08.03.1995">onsdag 8. mars 1995</time>
                    <span class="comments" data-comment-count="">70 innlegg</span>
                </a>
            </article>
        </div>
    </div>
</div>