<div class="tags">
    Tags:
   <ul itemprop="keywords" class="labels links"> 
	   <li class="label round grey"><a href="#">Nyheter</a></li>
	   <li class="label round grey"><a href="#">Utenriks</a></li>
	   <li class="label round grey"><a href="#">Syria</a></li>
   </ul>
</div>
