<div class="byline">
    {{#article.meta.authors }}
    <span class="person" itemscope itemtype="http://schema.org/Person" itemprop="author">
        <a rel="author" itemprop="url name" href="{{url}}">{{name}}</a>
    </span>
    {{/article.meta.authors }}
</div>
