<figure itemscope itemtype="http://schema.org/ImageObject" data-image-lightbox>
    <img itemprop="contentURL {{itemprop}}" src="{{ article.image.url }}" alt="">
    <figcaption class="caption" itemprop="caption" data-expand>{{{ article.image.caption }}} <a class="toggle">Vis mer</a></figcaption>
</figure>
