<figure itemscope itemtype="http://schema.org/ImageObject">
    <img itemprop="contentURL {{itemprop}}" sizes="(min-width: 40.063em) 100vw, (min-width: 64.063em) 100vw, 100vw" srcset="http://gfx.dagbladet.no/styleguide/picturefill/test-small.jpg 640w, http://gfx.dagbladet.no/styleguide/picturefill/test-medium.jpg 1024w, http://gfx.dagbladet.no/styleguide/picturefill/test-large.jpg 1440w" alt="">
    <figcaption class="caption" itemprop="caption" data-expand>{{{ article.image.caption }}} <a class="toggle">Vis mer</a></figcaption>
</figure>
