<form id="global-login" class="global-login" data-abide>
    <p><strong>Du er ikke logget inn.</strong> Logg inn med din DBiD-konto for å få tilgang til ekstra funksjoner. Har du ikke en konto kan du <a href="#" tabindex="-1">registrere en ny</a>.</p>
    <div class="row">
        <div class="large-12 columns">
            <label>E-post
                <input type="text" required placeholder="ola@nordmann.no" />
            </label>
            <small class="error">Ikke gyldig e-postadresse</small>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Passord
                <input type="text" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" tabindex="-1" />
            </label>
            <small class="error">Passord kan ikke være tomt</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <button type="submit" class="button small expand">Logg inn</button>
        </div>
        <div class="large-6 columns">
            <p class="help"><a href="#">Glemt passord</a> <a href="#">Brukerstøtte</a></p>
        </div>
    </div>
</form>
