<footer class="main-footer" itemtype="http://schema.org/Organization" itemscope role="contentinfo">
    <div class="row">
        <div class="small-12 medium-2 large-2 columns">
            <a class="main-logo" itemprop="url" href="http://www.dinside.no" title="Dinside"> <img src="/assets/logo/dinside-logo-190.svg" alt="Dinside logo"> <span itemprop="name" class="hide">Dinside</span> </a>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <dl>
                <dt>Postadresse:</dt>
                <dd itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="postOfficeBoxNumber">Boks 1184</span> Sentrum, <span itemprop="postalCode">0107</span> <span itemprop="addressLocality">Oslo</span></dd>
                <dt>Besøksadresse:</dt>
                <dd itemprop="location" itemscope itemtype="http://schema.org/PostalAddress"><a href="https://goo.gl/maps/EmpIH"><span itemprop="streetAddress">Karvesvingen 1</span>, <span itemprop="postalCode">0579</span> <span itemprop="addressLocality">Oslo</span></a></dd>
            </dl>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <ul>
                <li><a href="http://www.dinside.no/913551/redaksjonelle-retningslinjer-for-dinside">Redaksjonelle retningsliner</a></li>
                <li><a href="http://www.dinside.no/870880/brukeravtale-for-dinside-no">Debatt, personvern og cookies</a></li>
                <li><a href="mailto:webmaster@aller.no">Teknisk feil på nettsiden?</a></li>
                <li><a href="http://www.mediebedriftene.no/informasjonskapsler">Om informasjonskapsler</a></li>
                <li><a class="text-yellow" href="http://annonse.dagbladet.no/">Annonseinfo</a></li>
            </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns end">
            <div itemscope itemtype="http://schema.org/Person">
                <div><strong><span itemprop="jobTitle">Redaktør Dinside:</span></strong><br /><a href="mailto:andreas@dinside.no" itemprop="email"><span itemprop="name">Andreas Heen Carlsen</span></a></div>
            </div>
            <br>
            <div itemtype="http://schema.org/Organization" itemscope><strong>Utgiverselskap:</strong><br><a href="http://www.dagbladet.no/db/"><span itemprop="name"> © 2016 DB Medialab</span></a></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="newsletter clearfix">
        <div class="row">
            <div class="small-12 columns">
                <a class="button blue" href="http://www.dinside.no/phpf/nyhetsbrev.php"><span class="icon-Paperplane"></span>Motta nyhetsbrev</a>
                <p>Velg dine seksjoner og få siste saker på epost. Og ikke vær redd, det er lett å melde seg av igjen :)</p>
            </div>
        </div> 
    </div>
</footer>
