<section id="js-small-navigation" class="small-navigation">
    <form name="search" method="get" class="search" action="http://www.dinside.no/tekstarkiv">
        <input type="search" name="q" placeholder="Søk" class="radius" required>
    </form>
    <div class="clearfix">
        <nav role="navigation" class="clearfix">
                <div class="small-12 columns">
                    <a class="breadcrumb" href="http://www.dagbladet.no/"><span class="icon-Home"></span>Forsiden</a>
                    <h1>Seksjoner</h1>
                    <ul class="buttons">
                        <li class="data"><a class="button sand" href="http://www.dinside.no/data/">Data</a></li>
                        <li class="mobil"><a class="button sand" href="http://www.dinside.no/mobil/">Mobil</a></li>
                        <li class="motor"><a class="button sand" href="http://www.dinside.no/motor/">Motor</a></li>
                        <li class="økonomi"><a class="button sand" href="http://www.dinside.no/okonomi/">Økonomi</a></li>
                        <li class="bolig"><a class="button sand" href="http://www.dinside.no/bolig/">Bolig</a></li>
                        <li class="fritid"><a class="button sand" href="http://www.dinside.no/fritid/">Fritid</a></li>
                        <li class="reise"><a class="button sand" href="http://www.dinside.no/reise/">Reise</a></li>
                        <li class="guru"><a class="button sand" href="http://dinside.no/guru">Guru</a></li>
                        <li class="tester"><a class="button sand" href="http://dinside.no/tester"><span class="icon-Thumb-up"></span>Tester</a></li>
                        <li class="testpilot"><a class="button sand" href="http://testpilot.dinside.no"><span class="icon-testpilot"></span> Testpilot</a></li>
                    </ul>
                </div>
                <div class="small-12 columns">
                    <h2>Populære temaer</h2>
                    <ul class="links">
                        <li><a href="http://www.dinside.no/tag/elbil">elbil</a></li>
                        <li><a href="http://www.dinside.no/tag/test">test</a></li>
                        <li><a href="http://http://www.dinside.no/tag/nissan%20leaf">nissan leaf</a></li>
                        <li><a href="http://www.dinside.no/tag/tilbakekalling">tilbakekalling</a></li>
                        <li><a href="http://www.dinside.no/tag/bremsesvikt">bremsesvikt</a></li>
                        <li><a href="http://www.dinside.no/tag/bremsefeil">bremsefeil</a></li>
                        <li><a href="http://www.dinside.no/tag/skatt">skatt</a></li>
                        <li><a href="http://www.dinside.no/tag/skatteetaten">skatteetaten</a></li>
                        <li><a href="http://www.dinside.no/tag/datatrafikk">datatrafikk</a></li>
                        <li><a href="http://www.dinside.no/tag/telenor">telenor</a></li>
                        <li><a href="http://www.dinside.no/tag/mobil">mobil</a></li>
                        <li><a href="http://www.dinside.no/tag/rust">rust</a></li>
                    </ul>
                </div>
                <div class="small-12 columns">
                    <h2>Verktøy</h2>
                    <ul class="links">
                        <li><a href="http://www.dinside.no/104306/hva-er-boligen-verdt">Hvor mye er boligen verdt?</a></li>
                        <li><a href="http://www.dinside.no/104523/hva-er-bilen-din-verdt">Hvor mye er bilen verdt?</a></li>
                        <li><a href="http://www.dinside.no/strompriser/">Strømpriser</a></li>
                        <li><a href="http://www.dinside.no/787895/slosekalkulator">Sløsekalkulator</a></li>
                        <li><a href="http://www.dinside.no/104522/valutakalkulator">Valutakalkulator</a></li>
                    </ul>
                    <a class="text-white" href="#dinside-tools"><strong>Se hele verktøykassen</strong></a>
                </div>
        </nav>
        <div class="small-12 columns">
            <div class="information">
                <p><span class="text-yellow">Har du tips? </span><a href="mailto:tips@dinside.no">Send e-post til tips@dinside.no</a></p>
                <a href="https://www.facebook.com/DinSide.no/" class="tiny button facebook icon"><span class="icon-Facebook"></span>Facebook</a>
            </div>
        </div>
        <div class="small-12 columns end">
            <div class="menu-newsletter">
                <a class="button blue" href="http://www.dinside.no/phpf/nyhetsbrev.php"><span class="icon-Paperplane"></span>Motta nyhetsbrev</a>
                <p>Velg dine seksjoner og få siste saker på epost. Og ikke vær redd, det er lett å melde seg av igjen :)</p>
            </div>
        </div>
</section>