<div class="image-carousel">
	<div class="main-image" style="background-image: url(http://gfx.dagbladet.no/labrador/269/269931/26993179/jpg/active/0.jpg);">
	</div>
	<div class="row">
		<div class="large-12 columns centered">
			<div class="thumbnail-wrapper">
				<div class="thumbnail-overflow-wrapper">
				    <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				     <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				     <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				     <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				     <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				     <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				    <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				    <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				    <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
				    <div class="item" style="background-image: url(http://gfx.dagbladet.no/labrador/338/338151/33815163/jpg/active/366x550.jpg);">
				        <div class="caption">PÅ ELLE-FEST: Motocross-kjører Ailo Gaup og NRK-kjæresten Anne Rimmen. Foto: Tor Gunnar Berland / Stella Pictures</div>
				    </div>
			    </div>
			</div>
	    </div>
    </div>
    <a href="#"><span class="icon-Fullscreen-alt lightbox"></span></a>
    <a class="prev" title="Forrige"><span class="icon-Arrow-alt-left"></span></a>
    <a class="next" title="Neste"><span class="icon-Arrow-alt-right"></span></a>
</div>
