---
title: Browser support
---

<h1>Browser support</h1>
<p>
    See <a href="http://styleguide.dinside.no/browser-support.html">styleguide.dinside.no/browser-support.html</a> for browser support.
</p>
