---
title: Changelog
---

<h1>Changelog</h1>

<!--
<h5>5.2.0 - March 5, 2014</h5>
<ul>
    <li>Added color to something</li>
    <li>And made some fonts bigger</li>
</ul>

<h5>5.1.0 - March 4, 2014</h5>
<ul>
    <li>Added color to something</li>
    <li>And made some fonts bigger</li>
</ul>
-->
