---
title: Resources
---

<h1>Resources</h1>
<ul>
    <li><a href="https://github.com/audreyr/favicon-cheat-sheet">Favicon cheat sheet</a></li>
    <li><a href="http://scotch.io/quick-tips/all-search-and-social-media-meta-tags-starter-template">Social Media Meta Tags </a></li>
    <li><a href="http://colororacle.org/resources/2007_JennyKelso_ColorDesign_lores.pdf">Color Design for the Color Vision Impaired</a></li>
    <li><a href="http://www.w3.org/WAI/intro/people-use-web/stories">Stories of Web Users: How People with Disabilities Use the Web</a></li>
</ul>
