<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="nb-NO"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="nb-NO"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="nb-NO"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="nb-NO"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{app.meta.description}}">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/ico" href="{{app.meta.favicon}}">
    <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    {{> global.header }}
    {{> body }}
    {{> global.footer }}
    <script src="/scripts/app.min.js"></script>
</body>
</html>
