---
title: Dinside
layout: templates/layouts/blank.mustache
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="nb-NO"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="nb-NO"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="nb-NO"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="nb-NO"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{app.meta.description}}">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/ico" href="{{app.meta.favicon}}">
    <link id="db-critical" media="screen" rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="/scripts/ads.min.js"></script>
    
    <!--[if lt IE 10]>
        <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/app_1.css">
        <link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/app_2.css">
    <![endif]-->
    <link rel="amphtml" href="https://db-styleguide-tomsky-1.c9.io/prototypes/amp.html">
</head>
<body>
    {{> global.header }}


    <div class="toolbox row">
        <div class="small-12 columns">
            <h2><strong>Din</strong>sides verktøykasse</h2>
        </div>
        <ul class="small-12 medium-4 large-3 columns">
            <h3>Data og mobil</h3>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>

         <ul class="small-12 medium-4 large-3 columns">
            <h3>Reise</h3>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>

         <ul class="small-12 medium-4 large-3 columns">
            <h3>Motor</h3>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>

         <ul class="small-12 medium-4 large-3 columns">
            <h3>Bolig</h3>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>

         <ul class="small-12 medium-4 large-3 columns">
            <h3>Økonomi</h3>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>

         <ul class="small-12 medium-4 large-3 columns end">
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
            <li><a href="#">Surfometeret</a></li>
        </ul>
    </div>


<div class="row">
     <form class="experimental-poll active voted panel sand large-6 medium-8 small-12 columns">
      <div class="copy">
        <h5 class="uppercase">Are you a monster?</h5>
        <p>Lolzalskjd øaksjdhgfl kajsgkqhweiuh alkdfsghl akjgfhøioqurh gøkajdflg khj</p>
        <label>
           <span class="bar one"></span>
           <span class="description">I'M A MONSTER!!</span> <div class="numbers"><span class="score">(21%) </span><span class="amount">402</span></div>
        </label>
        <label>
           <span class="bar two"></span>
           <span class="description">Coo coo ca chaw</span> <div class="numbers"><span class="score">(66%) </span><span class="amount">1278</span></div>
        </label>
        <label>
           <span class="bar three"></span>
          <span class="description">Heyyyy Uncle Father Oscar</span> <div class="numbers"><span class="score">(14%) </span><span class="amount">265</span></div>
        </label>
        <div class="poll-actions">
          <p>Avstemningen er ikke styrt og reflekterer kun lesernes egne meninger.</p>
        </div>
      </div>
    </form>
</div>

<div class="row">
    <article itemprop="review" itemscope itemtype="http://schema.org/Review" class="review small-12 medium-12 columns">
        <div class="review-box">
             <p class="test-result">Testresultat</p>
             <h1 itemprop="name" class="name review-name">Asus EeeBook E200HA</h1>
             <div class="rating-box small-centered columns">
                <span itemprop="reviewRating" class="review-rating">6</span>
                <div class="dice">     
                    <img src="../assets/icon/dices/d-six.svg" alt="">
                </div>
             </div>
            <div class="review-pros-cons">
                <div class="small-12 column small-centered">
                    <div class="text-center">
                        <span class="icon-Thumb-up text-green"></span>
                    </div>
                    <p itemprop="description">Masse komfort, god plass, stille, fabelaktig girkasse</p>
                </div>
                <div class="small-12 column small-centered">
                    <div class="text-center">
                        <span class="icon-Thumb-down text-red"></span>
                    </div>
                    <p itemprop="description">Lite praktiske løsninger og fleksibilitet innvendig, ikke S-Klasse nivå, dyr.</p>
                </div>
            </div>
        </div>
    </article>
</div>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" itemprop="contentUrl" data-size="600x400">
                    <img src="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image caption</figcaption>
            </figure>

            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" itemprop="contentUrl" data-size="600x400">
                    <img src="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" width="100" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">Image caption</figcaption>
            </figure>
        </div>
    </div>


    {{> global.footer }}
    <script src="/scripts/critical.min.js"></script>
    <script src="/scripts/app.min.js"></script>
</body>
</html>


