//
// Section-header
//
// Used to mark large editorial blocks of content.
//
// Markup:
// <div class="section-header">
//    <h5 class="heading">Touch the Cornballer</h5>
// </div>
//
// Styleguide 12.3

.section-header {
	margin-bottom: 20px;
	color: $color-blue;

	h5 {
		border-top: solid 1px lightgrey;
		color: $color-blue;
		border-bottom: solid 1px lightgrey;
		font-weight: 600;
		color: inherit;
		margin-top: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: $column-gutter/2;
		letter-spacing: 2px;
	}
}

// Content Marketing
//
// Used to mark content as content marketing.
//
// Markup:
// <div class="small-12 medium-12 large-12 columns content-marketing-ribbon"><p>Annonsørinnhold</p></div>
//
// Styleguide 12.4

.content-marketing-ribbon {
	padding: $column-gutter / 2;
	float:none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
	background: linear-gradient(90deg, #ffd861, #ff00b8);
	text-align: left;
	padding-left: 143px;
	display: flex;
	align-items: center;

	p {
		margin: 0;
		font-weight: 600;
	}
	
	&.fixed {
		position: fixed;
		top: 0px;
		width: 1010px;
		z-index: 100;

		@media #{$small-only}{
			width: 100%;
		}
	}
}

.full-bleed {
	.content-marketing-ribbon {
		margin-bottom: 0;

		&.fixed {
			width: 100%;
		}
	}
}

