.article-entity{
    margin-top: 1.5rem;
    //I know this is backwards styling for mobile only, but this short of breaking out of the template only for small screens.
    @media #{$small-only}{
        header{
            figure{
                margin-top: -1rem;
                img{
                    max-width: none;
                }
                figcaption{
                    padding-left: $column-gutter / 2;
                }
            }
        }

        // header{
        //     figure{
        //         margin-top: -1rem;
        //         margin-left: -0.9375rem;
        //         img{
        //             width: 100vw;
        //             max-width: none;
        //         }
        //         figcaption{
        //             margin-left: 0.9375rem;
        //         }
        //     }
        // }
    }

    header{
        img{
            max-width: none;
            width: 100%;
        }
        .intro{
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 0;
            @media #{$medium-up}{
                font-size: 1.8rem;
            }
            //To avoid adding to much presentaional markup we make the headline narrower - like the standfirst. This should be fixed in other ways in the future.
            @media #{$medium-only}{
                width: 83.3333333333%; //Same as 8 columns
                margin-left: auto;
                margin-right: auto;
            }
            @media #{$large-up}{
                font-size: 2rem;
            }
        }

    	  .headline{
        	  font-size: 2rem;
          	line-height: 1.1;
            @media #{$medium-up}{
                font-size: 3.2rem;
            }
            //To avoid adding to much presentaional markup we make the headline narrower - like the standfirst. This should be fixed in other ways in the future.
            @media #{$medium-only}{
                width: 83.3333333333%; //Same as 8 columns
                margin-left: auto;
                margin-right: auto;
            }
            @media #{$large-up}{
                font-size: 4rem;
            }
            span.icon-Chat{
                color: $color-sand;
                font-size: 2rem;
                line-height: 0;
                position: relative;
                .count-comments{
                    font-family: "Open Sans", sans-serif;
                    color: #555;
                    top: 16px;
                    left: 0px;
                    display: block;
                    position: absolute;
                    width: 32px;
                    height: 12px;
                    overflow: hidden;
                    font-size: rem-calc(12);
                    font-weight: 400;
                    line-height: 1;
                    text-align: center;
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                    span.icon-Chat {
                        color: $color-blue;
                        text-decoration: none;
                        .count-comments{
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
            }
        	@media #{$medium-up}{
            	font-size: 3.2rem;
                span.icon-Chat{
                    font-size: 3.2rem;
                    .count-comments{
                        top: 26px;
                        width: 51.19px;
                        font-size: rem-calc(16);
                        height: 15px;
                    }
                }
        	}
        	@media #{$large-up}{
            	font-size: 4rem;
                span.icon-Chat{
                    font-size: 4rem;
                    .count-comments{
                        top: 33px;
                        width: 64px;
                        font-size: rem-calc(18);
                         height: 18px;
                    }
                }
        	}
    	}

        @media #{$medium-up}{
            figure{
                padding-left: $column-gutter / 2;
                padding-right: $column-gutter / 2;
            }
        }
    }

    .standfirst{
        margin-bottom: 1.5rem;
        @media #{$medium-up}{
            margin-bottom: 2rem;
        }
    }

    .meta{
        margin-bottom: $column-gutter;
        .facebook-share {
            display: inline-block;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: .2rem;
            margin-left: $column-gutter / 2;
            color: white;
            border-bottom: 2px solid $color-pink;
            @media #{$medium-up} {
                margin-top: 0;
            }
        }
        .label{
            margin-bottom: 0;
        }
    }

    .byline{
        display: block;
        margin-bottom: 1.5rem;
        @media #{$medium-up}{
            margin-bottom: 2.5rem;
            clear:both;
        }
    }


    .body-copy{
        margin-bottom: 2rem;
        .align-right{
            float: right;
            padding-right: 0;
        }

        [class*="-push-"],
        [class*="-pull-"]{
            padding-left: 0;
            padding-right: 0;
        }

        figure.columns{
            padding-left: 0;
            padding-right: 0;
        }

        @for $i from 1 through $total-columns{
            @media #{$medium-up}{
                .medium-push-#{$i}{
                    $width: (($i / $total-columns) * 100) * -1;
                    float: right;
                    margin-right: calc(#{$width}% - #{$column-gutter});
                    left: 0;
                    clear: right;
                }
            }
            @media #{$large-up}{
                .large-push-#{$i}{
                    $width: (($i / $total-columns) * 100) * -1;
                    float: right;
                    margin-right: calc(#{$width}% - #{$column-gutter});
                    left: 0;
                    clear: right;
                }
            }
        }

        @for $i from 1 through $total-columns{
            @media #{$medium-up}{
                .medium-pull-#{$i}{
                    $width: (($i / $total-columns) * 100) * -1;
                    margin-left: calc(#{$width}% - #{$column-gutter});
                    left: 0;
                    clear: left;
                    float: left;
                }
            }
            @media #{$large-up}{
                .large-pull-#{$i}{
                    $width: (($i / $total-columns) * 100) * -1;
                    margin-left: calc(#{$width}% - #{$column-gutter});
                    left: 0;
                    clear: left;
                    float: left;
                }
            }
        }
    } // Body-copy end
    .read-this-too {
        a{
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .subhead,h2{
        font-size: 1.9rem;
        margin-bottom: 0.3rem;
        margin-top: 2.5rem;
    }
    .article-list-bottom{
        margin-bottom: $column-gutter;
    }

    //Adjust the .left and .right classes to work within the body-copy
    .left{
        margin-right: 1rem;
        @media #{$small-only}{
            &.small-12{
                margin-right: 0;
            }
        }
        @media #{$medium-only}{
            &.medium-12{
                margin-right: 0;
            }
        }
        @media #{$large-up}{
            &.large-12{
                margin-right: 0;
            }
        }
    }

    .right{
        margin-left: 1rem;
        @media #{$small-only}{
            &.small-12{
                margin-left: 0;
            }
        }
        @media #{$medium-only}{
            &.medium-12{
                margin-left: 0;
            }
        }
        @media #{$large-up}{
            &.large-12{
                margin-left: 0;
            }
        }
    }

    @media #{$small-only}{
        .small-right{
            float: right !important;
        }
        .small-left{
            float: left !important;
        }
    }

    @media #{$medium-only}{
        .medium-right{
            float: right !important;
        }
        .medium-left{
            float: left !important;
        }
    }

    @media #{$large-up}{
        .large-right{
            float: right !important;
        }
        .large-left{
            float: left !important;
        }
    }
}

.fb-like-frame {
    width: 100%;
    height: 57px;
}

//Article Footer news lists
.footer-news-list {
    margin-bottom: $column-gutter;
}

//Comment-section
.comment-section {
    margin-bottom: $column-gutter;
    min-height: 250px;
    position: relative;
}

//Comment list
.comment-list {
    .preview{
        // .comment-count{
        //     position: absolute;
        //     background: $color-blue;
        //     color: $white;
        //     padding: 0.5rem;
        //     bottom: 0;
        // }
    }
}


.adunit,
#adunit-wallpaper-left, 
#adunit-wallpaper-right, 
.fullbleed .adunit-wrapper {
    &:before {
        background-color: $color-purple;
        color: $white;
    }
}