//body {
//	//background-color: #efefef;
//}
//
//
//.article-container {
//	background-color: white;
//}
//
//.headline {
//	font-size: 3.5rem;
//	line-height: 1.2;
//}
//
//.standfirst {
//	p {
//		font-size: 1.2rem;
//	}
//}
//
//.meta {
//	padding: 10px;
//	border: 1px solid $secondary-color;
//	margin: 2rem 0;
//	.byline {
//		time {
//			margin: 1px 0;
//		}
//		p {
//			margin: 0;
//			a {
//				text-decoration: none;
//			}
//		}
//	}
//}

//.articlebody {
//	p {
//		font-size: 1em;
//		line-height: 1.6;
//		margin-bottom: 0.7rem;
//		@media #{$large-up} {
//            padding-right: 40%;
//        }
//	}
//}

/*figure {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0.9375rem 0 0.5rem 0;
    @media #{$small-only} {
        padding: 0;
        margin: 0;
    }
    img{
        width: 100%;
    }
    figcaption {
    	font-weight: 200;
        font-size: 1rem;
        line-height: $paragraph-line-height;
        border: 1px solid $secondary-color;
        padding: 1rem;
        .credit {
        	font-size: 0.9rem;
        	font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.02rem;
        }

    }

    &.align-left{
        padding-left: 0;
        @media #{$small-only} {
            &.small-12{
                padding-right: 0;
            }
        }
        @media #{$medium-only}{
            &.medium-12{
                padding-right: 0;
            }
        }
        @media #{$large-only}{
            &.large-12{
                padding-right: 0;
            }
        }
    }
    &.align-right{
        float: right;
        padding-right: 0;
        @media #{$small-only}{
            &.small-12{
                padding-left: 0;
            }
        }
        @media #{$medium-only}{
            &.medium-12{
                padding-left: 0;
            }
        }
        @media #{$large-only}{
            &.large-12{
                padding-left: 0;
            }
        }
    }
    &.align-center{
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

}*/

//.adunit {
//	float: right;
//	margin: 0rem 0rem 2rem 2rem;
//	.ad-stamp {
//		background-color: #E8E8E8;
//		width: 100%;
//		display: block;
//		text-align: center;
//		text-transform: uppercase;
//		letter-spacing: 1px;
//		font-size: 9px;
//		padding: 5px;
//		margin-bottom: 10px;
//		line-height: 1;
//	}
//}
